<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Performance Task</title>
  <!-- Custom CSS -->
  <link href="static/style.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>

<body>
  <!-- Header -->
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Web Application Performance Task</h1>
            <h2>Your Task:</h2>
            <h3>
              Create a web application that can take in a user's birth month and output the name of their birthstone
            </h3>
            <hr class="intro-divider">
          </div>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </div>

  <div class="content-section-a">
    CODE YOUR FORM HERE!
  </div>
  <!-- /.content-section-a -->

</body>

</html>
